# blacklist everything
/*

# whitelist

## env setup
!.profile # on every login

### for sh
!.shrc

### for bash
# if login then source first to exist
  !.bash_profile
  !.bash_login
  !.profile
# fi
!.bashrc # interactive and non login
!.bash_logout # logout

### for zsh in chronogical order
!.zshenv # always
!.zprofile # login
!.zshrc # interactive
!.zlogin # login
!.zlogout # logout

### zsh plugins
!.antibody.bundle

### zsh functions
!.zfunctions/

### zsh themes
!.prompt-themes/

### for X
!.xinitrc


## config

### git
!.gitconfig
!.gitignore

### ssh
!.ssh/config

### vim
!.vimrc

### npm
!.npmrc

### yarn
!.yarnrc

### fzf
!.fzf.bash
!.fzf.zsh

