# blacklist everything
/*

# whitelist

## env setup
!.profile

### for sh
!.shrc

### for bash

# if login then source first to exist
!.bash_profile
!.bash_login
!.profile
# fi

# non login interactive
!.bashrc

# logout
!.bash_logout

### for zsh in chronogical order
# always
!.zshenv

# login
!.zprofile

# interactive
!.zshrc 

# login
!.zlogin 

# logout
!.zlogout 


### zsh plugins
!.antibody.bundle

### zsh functions
!.zfunctions/

### zsh themes
!.prompt-themes/

### for X
!.xinitrc


## config

### git
!.gitconfig
!.gitignore

### ssh
!.ssh/config

### vim
!.vimrc

### npm
!.npmrc

### yarn
!.yarnrc

### fzf
!.fzf.bash
!.fzf.zsh

